<!DOCTYPE html>
<html ng-app>
<head>
	<title>Angular 101</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>

	Name: <input type="text" ng-model="fname">
	Name: <input type="text" ng-model="lname">
	
	<br >Hello, {{fname}} {{lname}}
<script type="text/javascript">
	// var theInput = document.getElementById('name');
	// var placeName = document.getElementById('placename');
	// theInput.addEventListener('keyup', function(){
	// 	var inputText = theInput.value;
	// 	placeName.innerHTML = inputText;
	// })

</script>
</body>
</html>