<!DOCTYPE html>
<html ng-app="repeatApp">
<head>
	<title>Repeat App</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="repeat.js" type="text/javascript"></script>
</head>
<body ng-controller="repeatController">
	<li ng-repeat="student in class track by $index">
		<a href="" ng-click=removeStudent($index)>{{student}}</a>
	</li>
		<form ng-submit="addStudent()">
			<div>Enter Students Name:</div>
			<input type="text" ng-model="newStudent" />
			<button type="submit">Click To Add</button>
		</form>
</body>
</html>